.info-text {
  position: fixed;
  bottom: 0;
  left: 50%;
  background: white;
  transform: translateX(-50%);
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 800;
  padding: 10px;
}

.info-text div {
  padding: 6px;
  font-size: calc(9px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
