thead tr {
  background-color: grey !important  ;
  color: white;
  font-weight: bold;
}

td {
  padding: 5px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: lightgoldenrodyellow;
}

tr:nth-child(even) {
  background-color: goldenrod;
}
