table {
  margin: 2em auto;
}

thead {
  background-color: goldenrod;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: lightgoldenrodyellow;
}

td {
  padding: 0.75em;
  text-align: left;
  width: 100px;
}

td:nth-child(1) { 
  width: 400px;
}

td:nth-child(2) {
  text-align: center;
}

td:nth-child(3) {
  text-align: center;
}

td:nth-child(4) {
  width: 50px;
  text-align: center;
}
